*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.attribution {
  text-align: center;
}

body {
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  padding-top: 0.4rem;
  position: relative;
  z-index: 20;
  width: 100%;
  background-color: #fff;
}

.header__container {
  display: flex;
  /* align-items: center; */
  padding: 1.4rem 0;
  justify-content: space-around;
}

.fa-bar {
  display: none;
}

nav {
  display: flex;
  gap: 4rem;
}

nav a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: hsl(233, 8%, 62%);
  padding: 0.5rem 0;
  font-weight: 600;
}

nav a:hover {
  border-bottom: 4px solid hsl(136, 65%, 51%);
}

.modal {
  position: fixed;
  top: 4rem;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  background-color: #fff;
  padding: 5.2rem 15.2rem;
  border-radius: 2rem;
  z-index: 10;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

/* .show-modal:hover{
background-color: rgb(38, 38, 39);
padding: 1rem 1.3rem;
color: #fff;
border: none;
width: 100%;
} */

/* .show-modal{
  font-size: 2rem;
  font-weight: 600;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
} */

.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.show-modal {
  background: none;
  padding: 0.2rem 0.2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: #000000c7;
  backdrop-filter: blur(3px);
  z-index: 5;
}

.btn {
  padding: 0.8rem;
  border-radius: 2.2rem;
  background-image: linear-gradient(
    to right,
    hsl(136deg 65% 51% / 51%),
    hsl(192deg 94% 54% / 50%)
  );
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  transform: translateY(-0.2rem);
}

.btn:active {
  transform: translateY(0.2rem);
}

.header__btn {
  width: 11%;
}

.bg-illustrations {
  height: 500px;
}

.hero__container {
  display: flex;
}

img {
  width: 100%;
}

.mockup {
  transform: translate(0%, -118%);
}

.bg-intro {
  transform: translate(-1%, -32%);
  position: relative;
}

/* .mobile-intro{
  display: none;
} */

.hero__text-content {
  transform: translate(110px, 75px);
}

h1 {
  margin-bottom: 1.4rem;
  width: 68%;
  font-size: 4rem;
  font-weight: 300;
}

.hero_p {
  margin-bottom: 1.4rem;
  width: 70%;
  font-size: 1.4rem;
  color: hsl(233, 8%, 62%);
}

.hero_btn {
  width: 19%;
}

.features-section {
  margin: 2.4rem auto;
  background-color: hsl(233deg 28% 95%);
  padding-bottom: 7.4rem;
}

.features {
  padding: 0 7.2rem;
}

.features__container {
  display: flex;
  padding-top: 4.4rem;
  gap: 6.4rem;
}

.features-heading {
  padding-top: 5rem;
  margin-bottom: 1rem;
  color: hsl(233, 8%, 62%);
}

.sub-heading {
  width: 43%;
  color: hsl(233deg 4% 45%);
}

h3 {
  margin-bottom: 1.4rem;
  color: hsl(233deg 4% 45%);
}

.svg {
  margin-bottom: 1.4rem;
}

.features-p {
  color: hsl(233, 8%, 62%);
}

.section-article {
  padding: 4.4rem;
}

.article-heading {
  padding: 0 2.2rem;
}
.article-container {
  padding: 2.2rem 2.2rem;
  gap: 2.2rem;
  display: flex;
}

.img-article {
  height: 240px;
  margin-bottom: 0.8rem;
  border-radius: 0.4rem;
  object-fit: cover;
}

address {
  color: hsl(233, 8%, 62%);
  font-size: 0.7rem;
}

.article-subheading {
  margin: 0.8rem 0.8rem 0.5rem 0;
  font-size: 1.2rem;
  color: hsl(231, 6%, 52%);
}

.article-subheading:hover {
  color: hsla(170, 83%, 55%, 0.952);
  cursor: pointer;
}
/* 
.article-content {
  box-shadow: 0 0 20px -10px;
} */

.articles-text {
  line-height: 2;
  height: 290px;
}

.article-p {
  color: hsl(233, 8%, 62%);
  line-height: 2;
}

footer {
  background-color: hsl(233, 26%, 24%);
  padding: 4.2rem 7.2rem;
}

.footer-container {
  display: flex;
  align-items: center;
  gap: 18%;
  position: relative;
}

.icons-container {
  display: flex;
  margin: 3.2rem 0;
  list-style: none;
  gap: 10%;
}

.ft-address-container {
  display: flex;
}

.footer-address {
  list-style: none;
  margin-right: 11.4rem;
  font-size: 1.6rem;
  color: rgba(243, 241, 241, 0.774);
}

.footer-address li {
  margin-bottom: 0.8rem;
}

.footer-address-2 {
  list-style: none;
  font-size: 1.6rem;
  color: rgba(243, 241, 241, 0.774);
}

.footer-address-2 li {
  margin-bottom: 0.8rem;
}

.footer-btn {
  width: 11%;
  position: absolute;
  top: 6%;
  left: 78%;
}

ul li {
  cursor: pointer;
  font-size: 1.1rem;
}

ul li:hover {
  color: hsla(170, 83%, 55%, 0.952);
}

.icons path:hover {
  fill: hsla(170, 83%, 55%, 0.952);
}

@media only screen and (max-width: 1280px) {
  .mockup {
    transform: translate(0%, -127%);
  }

  .features__container {
    gap: 2.4rem;
  }

  footer {
    padding: 4.2rem 4.2rem;
  }
}

@media only screen and (max-width: 1187px) {
  h1 {
    width: 70%;
  }

  .mockup {
    transform: translate(0%, -130%);
  }
}

@media only screen and (max-width: 1157px) {
  h1 {
    width: 75%;
  }

  .hero_p {
    width: 75%;
  }

  .mockup {
    transform: translate(0%, -132%);
  }
}

@media only screen and (max-width: 1141px) {
  .mockup {
    transform: translate(0%, -134%);
  }

  .sub-heading {
    width: 48%;
  }

  .article-subheading {
    font-size: 1rem;
  }

  .article-p {
    width: 100%;
  }

  footer {
    padding: 4.2rem 0.2rem 4.2rem 6.2rem;
  }
}

@media only screen and (max-width: 1085px) {
  .hero__text-content {
    transform: translate(74px, 75px);
  }

  .hero_btn {
    width: 22%;
  }

  .features {
    padding: 0 4.2rem;
  }

  features-p {
    font-size: 0.9rem;
  }

  .section-article {
    padding: 4.4rem 1.4rem;
  }

  footer {
    padding: 3.2rem 2rem 3.2rem;
  }
}

@media only screen and (max-width: 1070px) {
  h1 {
    width: 80%;
  }

  .mockup {
    transform: translate(0%, -142%);
  }

  .footer-btn {
    width: 13%;
  }
}

@media only screen and (max-width: 1037px) {
  h1 {
    width: 80%;
  }

  .mockup {
    transform: translate(0%, -146%);
  }
}

@media only screen and (max-width: 1004px) {
  h1 {
    width: 84%;
  }

  .header__btn {
    width: 15%;
  }
}

@media only screen and (max-width: 990px) {
  nav {
    gap: 2rem;
  }

  .mockup {
    transform: translate(0%, -154%);
  }
}

@media only screen and (max-width: 962px) {
  h1 {
    width: 87%;
  }

  .header__btn {
    width: 15%;
  }

  .article-p {
    font-size: 0.9rem;
  }

  .child {
    width: 40%;
  }

  .features__container {
    flex-wrap: wrap;
    gap: 9.4rem;
  }

  .child-cnter {
    flex: 40%;
  }

  .article-container {
    flex-wrap: wrap;
  }

  .article-p {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 915px) {
  h1 {
    width: 89%;
  }

  .mockup {
    width: 90%;
    transform: translate(10%, -182%);
  }

  .hero_btn {
    width: 26%;
  }

  .footer-btn {
    width: 16%;
  }
}

@media only screen and (max-width: 915px) {
  h1 {
    width: 93%;
  }
}

@media only screen and (max-width: 885px) {
  .mockup {
    transform: translate(10%, -182%);
  }

  .child {
    width: 35%;
  }

  .hero__text-content {
    transform: translate(43px, 75px);
  }
}

@media only screen and (max-width: 885px) {
  h1 {
    width: 95%;
  }
}

@media only screen and (max-width: 864px) {
  .footer-address {
    margin-right: 6.4rem;
  }
}

@media only screen and (max-width: 856px) {
  h1 {
    font-size: 3rem;
  }

  .hero_p {
    font-size: 1.3rem;
  }

  .mockup {
    width: 84%;
    transform: translate(18%, -184%);
  }
}

@media only screen and (max-width: 824px) {
  h1 {
    font-size: 3rem;
  }

  .hero_p {
    font-size: 1.2rem;
    width: 85%;
  }

  .hero_btn {
    width: 33%;
  }

  .article-p {
    font-size: 1.2rem;
  }

  .footer-address {
    margin-right: 7.4rem;
  }
}

@media only screen and (max-width: 757px) {
  .footer-btn {
    width: 18%;
  }
}

@media only screen and (max-width: 733px) {
  h1 {
    font-size: 2.5rem;
  }

  .mockup {
    width: 80%;
    transform: translate(22%, -210%);
  }

  .header__btn {
    width: 19%;
  }

  .article-p {
    font-size: 1rem;
  }

  .footer-address {
    margin-right: 5.4rem;
  }
}

@media only screen and (max-width: 678px) {
  nav {
    gap: 1.5rem;
    font-size: 0.8rem;
  }

  .fa-bar {
    display: block;
  }

  nav {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .hero_btn {
    width: 38%;
  }

  .mockup {
    transform: translate(22%, -226%);
  }

  .footer-container {
    gap: 14%;
  }

  .footer-address {
    margin-right: 3.4rem;
  }

  .footer-btn {
    width: 22%;
  }
}

@media only screen and (max-width: 650px) {
  nav {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .mockup {
    transform: translate(22%, -249%);
  }
}

@media only screen and (max-width: 630px) {
  .bg-intro {
    transform: translate(-8%, -32%);
  }

  nav {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .modal {
    padding: 5.2rem 11.2rem;
  }

  .hero__container {
    flex-direction: column-reverse;
  }

  .hero_p {
    font-size: 1.2rem;
    width: 81%;
    letter-spacing: 1.2px;
    transform: translate(46px, 10px);
  }
  h1 {
    font-size: 2.5rem;
    width: 50%;
    transform: translate(122px, 10px);
  }

  .mockup {
    transform: translate(17%, -138%);
  }

  .hero_section {
    padding-bottom: 7rem;
  }

  .hero__container {
    flex-direction: column-reverse;
  }

  .hero_btn {
    transform: translate(172px, 10px);
    width: 24%;
  }

  .child {
    text-align: center;
    width: 100%;
  }

  .articles-text {
    transform: translate(32px, 10px);
    width: 92%;
  }

  h2 {
    text-align: center;
  }

  .sub-heading {
    text-align: center;
    width: 82%;
    transform: translate(40px, 10px);
  }

  .features-heading {
    padding-top: 4rem;
  }

  .features__container {
    gap: 4.4rem;
  }

  .article-container {
    display: block;
  }

  footer {
    padding-bottom: 2.4rem;
  }

  .footer-container {
    display: block;
  }

  .footer-logo {
    transform: translate(67px, 10px);
  }

  .logo-icon {
    transform: translate(136px, 10px);
    width: 81%;
  }

  .ft-address-container {
    display: block;
    text-align: center;
    margin-bottom: 2.4rem;
  }

  .footer-btn {
    position: absolute;
    top: 100%;
    left: 39%;
    margin-top: 1.2rem;
  }

  .footer-address {
    margin-right: 0.4rem;
  }
}

@media only screen and (max-width: 568px) {
  .mockup {
    transform: translate(17%, -152%);
  }

  h1 {
    width: 65%;
  }

  .footer-btn {
    width: 30%;
  }

  .ft-address-container {
    transform: translate(21px, -13px);
  }
}

@media only screen and (max-width: 524px) {
  .hero__text-content {
    transform: translate(17px, 75px);
  }

  .hero_p {
    width: 89%;
  }

  .mockup {
    transform: translate(17%, -164%);
  }

  .logo-icon {
    transform: translate(102px, 10px);
  }
}

@media only screen and (max-width: 494px) {
  .modal {
    padding: 7.2rem 8.2rem;
  }

  .hero_p {
    width: 90%;
  }

  .hero__text-content {
    transform: translate(1px, 75px);
  }

  .logo-icon {
    transform: translate(85px, 10px);
  }

  .footer-btn {
    position: absolute;
    top: 100%;
    left: 37%;
  }

  .ft-address-container {
    transform: translate(8px, -13px);
  }
}

@media only screen and (max-width: 480px) {
  .ft-address-container {
    transform: translate(14px, -13px);
  }

  .hero_btn {
    width: 27%;
  }
}

@media only screen and (max-width: 450px) {
  .hero_p {
    width: 95%;
  }
}

@media only screen and (max-width: 434px) {
  h1 {
    width: 70%;
  }

  .footer-logo {
    transform: translate(50px, 10px);
  }

  .footer-btn {
    width: 35%;
  }

  .logo-icon {
    transform: translate(73px, 10px);
  }
}

@media only screen and (max-width: 413px) {
  .hero__text-content {
    transform: translate(-18px, 75px);
  }

  .hero_btn {
    width: 34%;
  }

  .mockup {
    transform: translate(17%, -193%);
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 2.2rem;
  }

  .hero_p {
    font-size: 0.9rem;
    transform: translate(67px, 10px);
  }

  .modal {
    padding: 7.2rem 8.2rem;
  }
}

@media only screen and (max-width: 376px) {
  h1 {
    transform: translate(85px, 10px);
  }

  .hero_p {
    font-size: 0.9rem;
    transform: translate(59px, 10px);
  }

  .sub-heading {
    transform: translate(16px, 10px);
  }

  .mockup {
    transform: translate(17%, -201%);
  }

  .footer-btn {
    width: 40%;
  }

  .logo-icon {
    transform: translate(51px, 10px);
  }

  .footer-btn {
    position: absolute;
    top: 100%;
    left: 31%;
  }

  .ft-address-container {
    transform: translate(4px, -13px);
  }
}

@media only screen and (max-width: 360px) {
  .footer-logo {
    transform: translate(30px, 10px);
  }

  .hero__text-content {
    transform: translate(-37px, 75px);
  }
}
